*{
    box-sizing: border-box;
}
ul{
    cursor: pointer;
    list-style-type: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(25, 29, 25);
    color: powderblue;
    width: 100vw;
    position: sticky;
    bottom: 0px;
}
li{
    float: left;
    padding: 0px;
    margin: 10px;
}
p{
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    color: midnightblue;
    font-style: italic;
}